# Ignore everything
*

# But not these files...
!.gitignore
!*.txt
!*.pdf
!*.ppt
!*.mp4
!*.py
!*.asm
!*.zip
!*.c
!*.pptx
!*.md
!*.apk

# ...even if they are in subdirectories
!*/

# if the files to be tracked are in subdirectories
!*/a/b/file1.txt
!*/a/b/c/*
